.navbar {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 5px;
        transition: all 0.3s ease;
    }

    .nav-link {
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    .navbar-brand,
    .nav-link {
        &:hover {
            color: #666;
        }
    }
}