@import '../../../scss/animations.scss';
@import '../../../scss/variables.scss';

.container {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    .heading-row {
        display: flex;
        justify-content: space-between;
    }

    .empty-cart-div {

        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    .row {

        background-color: #fff;
        padding: 2% 0;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        animation-name: fadeRight;
        animation-duration: 0.5s;

        .cart-product-image-container {
            display: flex;
            justify-content: center;

            .cart-product-image {
                width: 80px;
                height: 100px;
            }
        }

        .cart-product-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cart-product-title {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .mat-icon {
            font-size: 18px;
        }

    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
        margin: 0 auto;

        .row {
            margin: 0 10px;
            padding: 4% 2%;

            gap: 30px 0;

            justify-content: center;
        }
    }
}