<app-header></app-header>
<router-outlet></router-outlet>


<!-- ****************************************************************************************************

---------------------------------------------------------------------------------------------------------

Note:

I have used the following open sorce API for this project
https://fakestoreapi.com/docs

There is a possibility for the API to be down sometimes, just wanted to point this out...
nevertheless, HTTP errors are being handled with a placeholder page and are logged on to the console

---------------------------------------------------------------------------------------------------------

Things I would have Implemented if there was more time to

Project code wise:

1. API Interceptor
Intercepting all the http requests, having a base url in environment.ts
and global loader for API calls and global error handler

2. Strict Typing
Creating interfaces for entities and using strict typing instead of 'any' type

3. Global notifications service

4. Dynamically changing titles of the
changing the titles that show up on the browser tab dynamically

---------------------------------------------------------------------------------------------------------

UI wise:

1. More better spacing and placement of elements and

2. would have added a bit of colors/theming

---------------------------------------------------------------------------------------------------------

application feature wise:

1. Product search

2. Product categories

3. Price filtering


**************************************************************************************************** -->